# Install asdf-vm plugins and tools (assumes .tool-versions with golang version exists)
if command -v asdf > /dev/null; then
    if ! asdf plugin-list | grep golang > /dev/null; then
        echo "Installing asdf plugin golang"
        asdf plugin-add golang
    fi
  asdf install golang $(cat ./.tool-versions | grep golang | cut -f 2 -d " ")
  export GOBIN=$(dirname $(asdf which go))
  export GOROOT=$(dirname $GOBIN)
fi

export GOPATH=$HOME/go
export GO111MODULE=on
export PATH="${PWD}/.local/bin:${GOPATH}/bin:${GOROOT}/bin:${PATH}"
